@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

$primary-color: #FF7B47;
$text-color: #252B42;
$second-text-color: #737373;
$light-text-color: #FFFFFF;

%column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

%flex-space-b {
    display: flex;
    justify-content: space-between;
}

%flex-center {
    display: flex;
    align-items: center;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    font-size: 14px;
}
h1 {
    font-size: 58px;
    font-weight: bold;
}
h2 {
    font-size: 40px;
}

$padding15: 0 15%;

#intro,
#s2,
#s3,
#s5,
#s7,
#s6__b1,
#s6__b2,
/*#s6__b3*/ {
    padding: $padding15;
}

#s1 {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    //background-size: 100%;
    background-size: cover;
    //height: 790px;
}

#s2 {
    background-color: #FFFFFF;
    //height: 651px;
    padding: 5% 15%;
}

#s3 {
    background-color: #FAFAFA;
    //height: 890px;
}

#s4 {
    background-color: #17213B;
    //height: 678px;
}

#s5 {
    background-color: #FFFFFF;
    padding: 15%;
}

#s6__b3 {
    margin-left: 15%;
    margin-right: 15%;
}


header {
    padding: 40px 5% 40px 15%;
    @extend %flex-space-b;
    align-items: center;

    h3,
    div {
        flex: 1;
    }

    nav {
        flex: 3;
    }

    a {
        margin-right: 21px;
        color: $second-text-color;
    }

    img {
        float: right;
    }

    h3 {
        color: $text-color;
    }
}

#intro {
    @extend %flex-center;
    justify-content: flex-start;
    //height: 570px;

    &__text {
        @extend %flex-space-b;
        flex-direction: column;
        //height: 50%;
        vertical-align: middle;
        margin-bottom: 25%;
    }

    &__btn {
        margin-top: 35px;
    button {
        width: 157px;
        height: 48px;
        padding: 0;
        background-color: transparent;
        border-width: 1px;
        border-radius: 37px;
        border-color: #0D5C63;
        color: #0D5C63;
        cursor: pointer;
        margin-right: 10px;

        &:hover {
            border-color: #FF7B47;
            background-color: #FF7B47;
            color: #FFFFFF;

        }
    }
}
}

#s2__text {
    margin-bottom: 5%;
}

.icon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__card {
        margin-bottom: 30px;
        height: 112px;
        display: flex;
        align-items: center;
        background-color: #FAFAFA;
        border: 1px solid #E2E2E2;
        width: 25%;
        padding: 20px;
    }

    &__inner {
        @extend %flex-center;

        img {
            margin-right: 15px;
        }
    }
}



#s3 {
    padding: 100px auto;

    &__text {
        text-align: center;
        padding: 100px;

    }

    &__video-text {
        display: flex;

    }

    &__text-right {
        @extend %column-center;
        margin-left: 8%; //120
        div {
            margin-bottom: 5%;
        }



        &__card {
            display: flex;
            justify-content: flex-start;

            img {
                margin-right: 20px;
            }
        }
    }

    &text-right__card div:first-child {
        margin-right: 20px;
    }

    h3 {
        margin-top: 0;
    }

    h2 {
        padding: 25px;
        margin-top: 0;
        font-size: 40px;
    }

}

#s3 #video {
    align-items: center;
    height: auto;
    img {
        margin: auto;
    }
}

#s3__text-right {
    width: 55%;
}

@media screen and (max-width: 1400px) {
    #s3__video-text {
        flex-direction: column;
        align-items: center;
    }

    #s3__text-right {
        @extend %column-center;
        margin-left: 0; //120
        //width: 100%;
    }

    #video {
        padding-left: auto;
        padding-right: auto
    }
}

#s4 {
    @extend %column-center;
    align-items: center;


    &__text {
        text-align: center;
    }

    &__card {
        display: flex;
        justify-content: center;
    }

}
#s4__card {
    display: flex;
    width: 100%; //?
    flex-wrap: wrap;
    justify-content: space-between;

}

#s4__card1,
#s4__card2,
#s4__card3 {
    background-color: #17213B;
    position: relative;
    overflow: hidden;
}

#s4__card1__icon,
#s4__card2__icon,
#s4__card3__icon {
    position: absolute;
    top: 110px;
    left: 70px;

}

#s4__card1__text,
#s4__card2__text,
#s4__card3__text {
    margin: 40px 4px 33px 62px;
    margin: 70px 60px 30px 122px;
    background-color: #FFFFFF;
    //width: 490px;
}

#s4__card1__text__inner,
#s4__card2__text__inner,
#s4__card3__text__inner {
    padding: 30px 60px;
}

#s5__text {
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
}

#s5__text__team {
    @extend %flex-space-b;
}

#s5__text__team div {
    background-color: #FFFFFF;
    @extend %column-center;
    align-items: center;
}

#s5__text__team {
    padding-top: 30px;
    padding-bottom: 30px;
}

#s5 h5,
#s5 h6,
#s5__text__team p {
    margin: 5px 40px 0 40px;
    text-align: center;
}

#s5 h6 {
    color: $primary-color;
}

#s1 h3,
#s2 h2,
#s3 h2,
#s3 h3,
#s4 h4,
#s5 h2,
#s5 h5,
#form,
#s7 h3 {
    color: $text-color;
}

#s1 a,
#s1 p,
#s2 p,
#s3 p,
#s4__card1__text__inner,
#s5 p,
#s7 p,
#s7 a,
footer p {
    color: $second-text-color;
}

#s4__text,
#s6__b1__text h2,
#s6 p,
input[type="submit"] {
    color: $light-text-color;
}

#s6__b1 {
    display: flex;
    align-items: center;
    background-color: #252B42;
}

/////////
#s6__b1 {
    height: 807px;
    display: flex;
    align-items: flex-start;
    padding-top: 5%;
    //padding-bottom: 20%;
}

#s6__b2 {
    height: 418px;
    background-color: pink;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#abs {
    position: absolute;
    top:  -300px;
    margin-bottom: 500px;
    width: 60%;
}

////////////

#s6__b3 {
    //height: 644px;
    @extend %flex-center;
    background-color: #FFFFFF;
    margin-top: -450px;
}


input[type="text"],
input[type="number"],
input[type="email"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #F9F9F9;
}

input[type="submit"] {
    width: 100%;
    background-color: #FF7B47;
    padding: 14px 20px;
    margin: 8px 0;
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}

#form {
    background-color: #FFFFFF;
    height: 100%;
    padding: 40px 50px;
    @extend %column-center;
    align-items: center;
    margin: auto;
}

#s7 {
    display: flex;
    justify-content: center;

    &__navbar {
        padding: 80px 55px;
        width: 100%;
        @extend %flex-space-b;
    }

}

#s7 nav {
    display: flex;
    flex-direction: column;
}

#s7 h3 {
    margin-bottom: 20px;
}

#s7 a {
    margin-bottom: 10px;
}

#s7 p {
    margin-bottom: 25px;
}

#sosials img {
    margin-right: 20px;
}

footer {
    background-color: #FAFAFA;
    height: 74px;
    @extend %flex-center;
    justify-content: center;
}

@media screen and (max-width: 1400px) {
    #s4__card1,
    #s4__card2,
    #s4__card3 { 
        height: 608px;
        width: 325px;
    
    }
}

@media screen and (max-width: 1200px) {
    header {
        padding-left: 4%;
    }

    #intro,
    #s2,
    #s3,
    #s5,
    #s7,
    #s6__b1,
    #s6__b2,
   /* #s6__b3*/ {
        padding: 4%;
    }

    #s6__b3 {
        margin-left: 4%;
        margin-right: 4%;
    }
}

@media screen and (max-width: 920px) {
    .icon__card {
        width: 40%;
    }
}

@media screen and (max-width: 780px) {
    #s1 {
        background-image: none;
    }
    header {
        background-color: #EDEDED;
        padding: 40px 5%;
      
        flex-direction: column;
    
        /*h3,
        div {
            flex: 1;
        }
    
        nav {
            flex: 3;
        }
    
        a {
            margin-right: 21px;
            color: $second-text-color;
        }
    
        img {
            float: right;
        }
    
        h3 {
            color: $text-color;
        }*/

        img {
            display: none;
        }

        nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 7% auto;

            a{
                margin: 25% 0;
            }
        }
    }

    #intro {
        background-image: url("images/background.png");
    }

    #s5__text__team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FAFAFA;

        div {
            margin: 5%;
            padding: 2%;
            background-color: #FFFFFF;
        }
    }

    #s6__b1, #s6__b3, #s4__card {

        display: flex;
        flex-direction: column;
        justify-content: center;

    }

}

@media screen and (max-width: 655px) {
    #video img {
      //width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .icon__card {
        width: 100%;
    }


}