@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
footer, #s6__b3, .icon__inner, #intro {
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  font-size: 14px;
}

h1 {
  font-size: 58px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
}

#intro,
#s2,
#s3,
#s5,
#s7,
#s6__b1,
#s6__b2 {
  padding: 0 15%;
}

#s1 {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#s2 {
  background-color: #FFFFFF;
  padding: 5% 15%;
}

#s3 {
  background-color: #FAFAFA;
}

#s4 {
  background-color: #17213B;
  padding-top: 6%;
  padding-bottom: 6%;
}

#s5 {
  background-color: #FFFFFF;
  padding: 6% 15%;
}

#s6__b3 {
  margin-left: 15%;
  margin-right: 15%;
}

#s5 h6 {
  color: #FF7B47;
}

#s1 h3,
#s2 h2,
#s3 h2,
#s3 h3,
#s4 h4,
#s5 h2,
#s5 h5,
#form,
#s7 h3 {
  color: #252B42;
}

#s1 a,
#s1 p,
#s2 p,
#s3 p,
#s4__card__text__inner,
#s5 p,
#s7 p,
#s7 a,
footer p {
  color: #737373;
}

#s4__text,
#s6__b1__text h2,
#s6 p,
input[type=submit] {
  color: #FFFFFF;
}

header {
  padding: 40px 5% 40px 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
header h3,
header div {
  flex: 1;
}
header nav {
  flex: 3;
}
header a {
  margin-right: 21px;
  color: #737373;
}
header img {
  float: right;
}
header h3 {
  color: #252B42;
}

#intro {
  justify-content: flex-start;
}
#intro__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  vertical-align: middle;
  margin-bottom: 25%;
}
#intro__btn {
  margin-top: 35px;
}
#intro__btn button {
  width: 157px;
  height: 48px;
  padding: 0;
  border: none;
  border: 1px solid;
  background-color: transparent;
  border-width: 1px;
  border-radius: 37px;
  border-color: #0D5C63;
  color: #0D5C63;
  cursor: pointer;
  margin-right: 5%;
}
#intro__btn button:hover {
  border-color: #FF7B47;
  background-color: #FF7B47;
  color: #FFFFFF;
  transform: scaleX(1.25);
}

#s2__text {
  margin-bottom: 5%;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.icon__card {
  margin-bottom: 30px;
  height: 112px;
  display: flex;
  align-items: center;
  background-color: #FAFAFA;
  border: 1px solid #E2E2E2;
  width: 25%;
  padding: 20px;
}
.icon__inner img {
  margin-right: 15px;
}

#s3 {
  padding: 100px auto;
}
#s3__text {
  text-align: center;
  margin: 100px auto;
}
#s3__video-text {
  display: flex;
}
#s3__text-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  margin-left: 8%;
}
#s3__text-right div {
  margin-bottom: 5%;
}
#s3__text-right__card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
#s3__text-right__card img {
  margin-right: 20px;
}
#s3text-right__card div:first-child {
  margin-right: 20px;
}
#s3 h3 {
  margin-top: 0;
}
#s3 h2 {
  padding: 25px;
  margin-top: 0;
  font-size: 40px;
}

#s3 #video {
  align-items: center;
  height: auto;
}
#s3 #video img {
  margin: auto;
  max-width: 100%;
}

#s3__text-right {
  width: 55%;
}

#s4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
#s4__text {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
#s4__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

#s4__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#s4__card {
  background-color: #17213B;
  position: relative;
  flex: 1;
}
#s4__card__icon {
  position: absolute;
  top: 40px;
  left: -65px;
}
#s4__card__text {
  flex: 1;
  position: relative;
  margin: 40px 4px 33px 62px;
  margin: 70px 60px 30px 122px;
  background-color: #FFFFFF;
}
#s4__card__text__inner {
  padding: 30px 60px;
}

#s5__text {
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
}

#s5__text__team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#s5__text__team div {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
#s5__text__team div * {
  padding: 2.5px;
}

#s5__text__team {
  padding-top: 30px;
  padding-bottom: 30px;
}

#s5 h5,
#s5 h6,
#s5__text__team p {
  margin: 5px 40px 0 40px;
  text-align: center;
}

#s6__b1 {
  display: flex;
  align-items: center;
  background-color: #252B42;
}

#s6__b1 {
  height: 807px;
  display: flex;
  align-items: flex-start;
  padding-top: 5%;
}
#s6__b1 #map {
  align-items: center;
  height: auto;
}

#s6__b3 {
  background-color: #FFFFFF;
  margin-top: -450px;
}

input[type=text],
input[type=number],
input[type=email],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #F9F9F9;
}

input[type=submit] {
  width: 100%;
  background-color: #FF7B47;
  padding: 14px 20px;
  margin: 8px 0;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}

#form {
  background-color: #FFFFFF;
  height: 100%;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin: auto;
}

#s7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
#s7__navbar {
  padding: 80px 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#s7 nav {
  display: flex;
  flex-direction: column;
}

#s7 h3 {
  margin-bottom: 20px;
}

#s7 a {
  margin-bottom: 10px;
}

#s7 p {
  margin-bottom: 25px;
}

#sosials img {
  margin-right: 20px;
}

footer {
  background-color: #FAFAFA;
  height: 74px;
  font-size: 14px;
  justify-content: center;
}

@media screen and (max-width: 1400px) {
  #s3__video-text {
    flex-direction: column;
    align-items: center;
  }

  #s3__text-right {
    margin-left: 0;
  }

  #video {
    padding-left: auto;
    padding-right: auto;
  }

  #s4__card {
    height: 608px;
    width: 325px;
  }
}
@media screen and (max-width: 1340px) {
  #s4__cards {
    flex-direction: column;
  }

  #s4__card {
    height: 608px;
    width: 525px;
  }
}
@media screen and (max-width: 1200px) {
  header {
    padding-left: 4%;
  }

  #intro,
#s2,
#s3,
#s5,
#s7,
#s6__b1,
#s6__b2 {
    padding: 4%;
  }

  #s3__text-right {
    width: 100%;
    margin: 7%;
  }
  #s3__text-right__card {
    justify-content: center;
  }

  #s6__b3 {
    margin-left: 4%;
    margin-right: 4%;
  }
}
@media screen and (max-width: 920px) {
  .icon__card {
    width: 40%;
  }

  #s7 {
    display: flex;
    justify-content: center;
  }
  #s7__navbar {
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  #s5__text__team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #FAFAFA;
  }
  #s5__text__team div {
    margin: 5%;
    padding: 2%;
    background-color: #FFFFFF;
  }

  #s6__b1,
#s6__b3,
#s4__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }

  #s6__b1 {
    height: auto;
    align-items: center;
  }

  #s6__b1__text *,
#map {
    padding-left: 2%;
    padding-right: 2%;
  }

  #map img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }

  #s6__b3 {
    margin: 0;
  }

  #crop {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0;
  }

  #crop img {
    position: relative;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 780px) {
  #s1 {
    background-image: none;
  }

  header {
    background-color: #EDEDED;
    padding: 40px 5%;
    flex-direction: column;
  }
  header img {
    display: none;
  }
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7% auto;
  }
  header nav a {
    margin: 25% 0;
  }

  #intro {
    background-image: url("images/background.png");
    justify-content: center;
    text-align: center;
  }
  #intro__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
  #intro__btn button:first-child {
    margin-bottom: 25px;
  }
  #intro p::after {
    content: "but things on a small scale just do not act that way.";
  }
}
@media screen and (max-width: 550px) {
  .icon__card {
    width: 100%;
  }

  #s4__card__text__inner {
    padding-right: 37px;
  }
}